* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin: 0;
}

.header {
  width: 100%;
  height: auto;
}

.buttons-row {
  display: flex;
  justify-content: center;
}

.input-data-col {
  font-size: 1.2rem;
}

.tiles-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tile {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: aqua;
  margin: 5px auto;
  cursor: pointer;
  /* display: inline-block; */
}

.tile-container {
  width: 33%;
  height: 50px;
  line-height: 50px;
  margin: 20px auto;
}

.tile-container .tile {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 1.5rem;
  margin: 10px auto;
}

.prohibited-container {
  width: 50%;
  height: auto;
  text-align: center;
  margin: 5px 0;
}

.prohibited-container .tile {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  margin: 5px auto;
}


.generated-number {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 2.5rem;
  border-radius: 8px;
  background-color: aqua;
  margin: 15px auto;
  cursor: pointer;
}

.title {
  font-size: 2rem;
}